body{
    margin: 0;
    padding: 0;
}

#main{
    float:left;
    width:81%;
    height:100%;
}

.plus{
    float:left;
}
.minus{
    float:left;
}
.percentvalue{
    float:left;
}
.percent{
    float:left;
}

/*#topHeader h1{
    width: 200px;
}*/
#topHeader{
    padding: 20px;
    height: 60px;
    color: #eee;
    background-color: #2980b9;
}

#topHeader .h1{
    line-height: 20px;
    font-size: 3em;
    font-family: 'Anonymous Pro';
}

#topHeader #leftLinks{
    font-size: 1.2em;
    background-color: #2980b9;
    float: right;
}

#topHeader #leftLinks a{
    color: #eee;
}

#secondaryHeader{
    height: 10px;
    width: 100%;
    background-color: #3498db;
    background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
}

#secondaryHeader #links{
    padding: 3px;
    width: 100%;
    text-align: right;
    background-color: #3498db;
    color: #111;
}

#secondaryHeader #links a{
    color: #eee;
}

#leftmenu{
    /*19%*/
    width:180px;
    height: 100%;
    background-color: rgb(240, 240, 240);
    float:left;
}

#leftmenu .menuItem{
    text-align: center;
    padding: 15px;
    border: 1px solid #bdc3c7;
    font-size: 1.25em;
    color: #2980b9;
}
#leftmenu .menuItem:hover{
    cursor: pointer;
    opacity: .8;
    background-color: #95a5a6;
}
#leftmenu .menuItem a{
    text-decoration: none;
}

#main{
    padding: 10px;
}

#treeContainer{
    width: 4000px;
}

.tree{
    /*Need to figure out how to control overflow resizing
    /*width: 100%;*/
    width: 100%;
    /*height: 400px;*/
    overflow: scroll;
}

#zoomControl{
    z-index: 9999;
    position: absolute;
    top: 60px;
    left: 280px;
    width: 300px;
}

#zoomControl h1{
    color: #333;
    font-size: 2.8em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    opacity: .8;
}

#zoomButtons ul li{
    font-size: 3em;
    float: left;
    padding: 5px;
    color: #CCC;
    background-color: #333;
    opacity: .8;
    cursor: pointer;
}

#zoomButtons ul li:hover{
    opacity: .7;
    background-color: #777;
}

#zoomButtons{
    width: 100%;
}

#zoomButtons ul{
    margin-top: -12px;
    list-style: none;
}

#footer{
    font-family: 'Anonymous Pro';
    /*border-top: 2px solid #2980b9;*/
    font-size: 1.5em;
    color: #3498db;
    text-align: center;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #34495e;
}

#footerBorder{
    background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
    width: 100%;
    height: 4px;
    background-color: #2980b9;
    margin-bottom: 4px;
}