/* 
    Created on : Feb 27, 2015, 9:33:48 PM
    Author     : Wellesley
*/
body{
    margin: 0;
    padding: 0;
}

#leftmenu{
    width:19%;
    height:600px;
    background-color: rgb(240, 240, 240);

    float:left;
}
#main{
    float:left;
    width:81%;
    height:100%;
}

.plus{
    float:left;
}
.minus{
    float:left;
}
.percentvalue{
    float:left;
}
.percent{
    float:left;
}

/*#topHeader h1{
    width: 200px;
}*/
#topHeader{
    padding: 20px;
    height: 60px;
    color: #eee;
    background-color: #2980b9;
}

#topHeader .h1{
    line-height: 20px;
    font-size: 3em;
}

#topHeader #leftLinks{
    background-color: #2980b9;
    float: right;
}

#topHeader #leftLinks a{
    color: #eee;
}

#secondaryHeader{
    width: 100%;
}

#secondaryHeader #links{
    padding: 3px;
    width: 100%;
    text-align: right;
    background-color: #3498db;
    color: #111;
}

#secondaryHeader #links a{
    color: #eee;
}
#leftmenu .menuItem{
    text-align: center;
    padding: 30px;
    border: 1px solid #bdc3c7;
    font-size: 2em;
}
#leftmenu .menuItem:hover{
    opacity: .7;
    background-color: #95a5a6;
}
#leftmenu a{
    text-decoration: none;
}

#main{
    padding: 10px;
}































































































































// Wellesley Arreza