/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2015, 9:33:48 PM
    Author     : Wellesley
*/

#leftmenu{
    width:19%;
    height:600px;
    background-color: rgb(240, 240, 240);

    float:left;
}
#main{
    float:left;
    width:81%;
    height:100%;
}